$black-100: #000;
$black-80: #333;
$black-40: #666;

$white-100: #FFF;
$white-80: #EEE;
$white-40: #CCC;

$red-100: #F00;
$red-80: #FF2400; // scarlet red
$red-60: #DC143C; // crimson red
$red-10: #DE5D83; // blush red