body {
    -moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
    color: $black-80;
}

h1, h2, h3, h4, h5, h6 {
    color: $red-80;
}

