/* === Nunito - regular */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url("./font/Nunito-Regular.eot");
	src: local("Nunito Regular"),
		local("Nunito-Regular"),
		url("./font/Nunito-Regular.eot") format("embedded-opentype"),
		url("./font/Nunito-Regular.woff2") format("woff2"),
		url("./font/Nunito-Regular.woff") format("woff"),
		url("./font/Nunito-Regular.ttf") format("truetype"),
		url("./font/Nunito-Regular.svg") format("svg");
}

/* === Nunito - 700 */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url("./font/Nunito-Bold.eot");
	src: local("Nunito Bold"),
		local("Nunito-Bold"),
		url("./font/Nunito-Bold.eot") format("embedded-opentype"),
		url("./font/Nunito-Bold.woff2") format("woff2"),
		url("./font/Nunito-Bold.woff") format("woff"),
		url("./font/Nunito-Bold.ttf") format("truetype"),
		url("./font/Nunito-Bold.svg") format("svg");
}

/* === Nunito - italic */
@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 400;
	src: url("./font/Nunito-Italic.eot");
	src: local("Nunito Italic"),
		local("Nunito-Italic"),
		url("./font/Nunito-Italic.eot") format("embedded-opentype"),
		url("./font/Nunito-Italic.woff2") format("woff2"),
		url("./font/Nunito-Italic.woff") format("woff"),
		url("./font/Nunito-Italic.ttf") format("truetype"),
		url("./font/Nunito-Italic.svg") format("svg");
}

/* === Nunito - 700italic */
@font-face {
	font-family: 'Nunito';
	font-style: italic;
	font-weight: 700;
	src: url("./font/Nunito-BoldItalic.eot");
	src: local("Nunito Bold Italic"),
		local("Nunito-BoldItalic"),
		url("./font/Nunito-BoldItalic.eot") format("embedded-opentype"),
		url("./font/Nunito-BoldItalic.woff2") format("woff2"),
		url("./font/Nunito-BoldItalic.woff") format("woff"),
		url("./font/Nunito-BoldItalic.ttf") format("truetype"),
		url("./font/Nunito-BoldItalic.svg") format("svg");
}

/* === Space Mono - regular */
@font-face {
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 400;
	src: url("./font/SpaceMono-Regular.eot");
	src: local("Space Mono"),
		local("SpaceMono-Regular"),
		url("./font/SpaceMono-Regular.eot") format("embedded-opentype"),
		url("./font/SpaceMono-Regular.woff2") format("woff2"),
		url("./font/SpaceMono-Regular.woff") format("woff"),
		url("./font/SpaceMono-Regular.ttf") format("truetype"),
		url("./font/SpaceMono-Regular.svg") format("svg");
}

/* === Space Mono - italic */
@font-face {
	font-family: 'Space Mono';
	font-style: italic;
	font-weight: 400;
	src: url("./font/SpaceMono-Italic.eot");
	src: local("Space Mono Italic"),
		local("SpaceMono-Italic"),
		url("./font/SpaceMono-Italic.eot") format("embedded-opentype"),
		url("./font/SpaceMono-Italic.woff2") format("woff2"),
		url("./font/SpaceMono-Italic.woff") format("woff"),
		url("./font/SpaceMono-Italic.ttf") format("truetype"),
		url("./font/SpaceMono-Italic.svg") format("svg");
}

/* === Space Mono - 700 */
@font-face {
	font-family: 'Space Mono';
	font-style: normal;
	font-weight: 700;
	src: url("./font/SpaceMono-Bold.eot");
	src: local("Space Mono Bold"),
		local("SpaceMono-Bold"),
		url("./font/SpaceMono-Bold.eot") format("embedded-opentype"),
		url("./font/SpaceMono-Bold.woff2") format("woff2"),
		url("./font/SpaceMono-Bold.woff") format("woff"),
		url("./font/SpaceMono-Bold.ttf") format("truetype"),
		url("./font/SpaceMono-Bold.svg") format("svg");
}

/* === Space Mono - 700italic */
@font-face {
	font-family: 'Space Mono';
	font-style: italic;
	font-weight: 700;
	src: url("./font/SpaceMono-BoldItalic.eot");
	src: local("Space Mono Bold Italic"),
		local("SpaceMono-BoldItalic"),
		url("./font/SpaceMono-BoldItalic.eot") format("embedded-opentype"),
		url("./font/SpaceMono-BoldItalic.woff2") format("woff2"),
		url("./font/SpaceMono-BoldItalic.woff") format("woff"),
		url("./font/SpaceMono-BoldItalic.ttf") format("truetype"),
		url("./font/SpaceMono-BoldItalic.svg") format("svg");
}
